nav {
    font-family: 'Roboto', sans-serif;
}

// h1 {
//     font-family: 'Roboto', sans-serif;
//     color: #ffffff;
//     text-transform: uppercase;
//     position: relative;
//     left: 77%;
//     text-align: center;
//     font-size: 40px;
//     top: 10px;

// }

h2 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.h2-white {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #3F489B;
    text-align: center;
}


h5 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding: 2%;
}

h6 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #d1d1d1;
}

p {
    text-align: center;
    letter-spacing: 2px;
}

.p-white {
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    padding: 20px;
}

#p-educ {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: italic;
}


.folio2 {
    font-family: 'Poppins', sans-serif;
    text-align: start;
    padding-left: 16px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;


}

.folio-text {
    font-family: 'Poppins', sans-serif;
    text-align: start;
    padding-left: 16px;
    color: #fff;
    font-size: 12px;
}